<div class="container">
  <h1>User Skills and Levels</h1>

  <%# TODO: display the skills and proficiency levels for each user ... %>

  <table>
    <tr>
      <td>Name</td>
      <td>Skill</td>
      <td>Context</td>
      <td>Years</td>
      <td>Formal?</td>
    </tr>
    <% @users.each do |user| %>
    <tr id="person">
      <td><%= user.name %></td>
        <!-- If user has no proficiencies, print dashes -->
        <% if user.proficiencies.count == 0 %>
        <%= "<td>-</td><td>-</td><td>-</td><td>-</td>" %>
        <% else %>
        <!-- Print each proficiencies for that user -->
        <% user.proficiencies.each_with_index do |proficiency, index| %>
        <!-- If more than one line of proficiency, insert empty cell before subsequent lines -->
        <%= "<td></td>" if index >= 1 %>
        <td><%= proficiency.skill.name %></td>
        <td><%= proficiency.skill.context %></td>
        <td><%= proficiency.experience %></td>
        <td><%= proficiency.education %></td>
        </tr>
        <% end %>

        <% end %>


    <% end %>
  </table>
</div>
